.one{
    border: 2px dotted rgb(212, 63, 37);
    width: 400px;
    height: 400px;
    margin-left: 40%;
    margin-top: 15%;



}
.two{
    border: 2px dotted rgb(156, 44, 96);
    width: 300px;
    height: 300px;
    margin-top: 12%;
    margin-left: 12%;
}

.three{
    border: 2px dotted rgb(98, 182, 42);
    width: 200px;
    height: 200px;
    margin-bottom: 1px;
    margin-left: 16%; text-align: center;
    margin-top: 46px;
}

.content{ 
    padding-top: 15%;
}

.txt{
    padding-top: 30px;
 } 